:root{
    --clr-red-primary: #c71b1b;
    --clr-red-secondary: #690505;
    --clr-black: #0f0c0c;
    --clr-white: #fff;
    --clr-gray: rgba(105, 102, 102, 0.267);
}
font-face {
    font-family: "Gotham-Black";
    src: url(../storage/Spotify-Font/Gotham-Black.otf);
}